/***********************************
Main Font 
***********************************/
html, body , main{
    font-family: "Abel", sans-serif;
    font-size:140%;
    color: rgb(220, 220, 220);
    background-color: black;
    line-height:140%;
    }
    body{
        display: inline-block;
    }
    h1 {
        font-size: 80px;
    }
    h2{
        font-size: 70px;
    }
    h3 {
        font-size: 60px;
    }
    h4 {
        font-size: 30px;
        font-style: bold;
        color: crimson;
    }
    p {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
/***********************************
Links
***********************************/
a:link {
    color: rgb(220, 220, 220);
    transition: .2s ease;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(220, 220, 220);
    transition: .2s ease;
}

/* mouse over link */
a:hover {
    color: crimson;
    transition: .2s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* selected link */
a:active {
    color: crimson;
    transition: .2s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/***********************************
Boxes
***********************************/
.sidebar{
    border-right: thin solid crimson;
    width: 20%;
    height: 100%;

    z-index: 2;
    position: fixed;
}
.menu{
    margin-top: 20%;
    margin-left: 10%;
}
.menu, a{
    line-height: 200%;
}
.socialmediaicontray{
    display: inline;
    width: 100%;      
}
.menufooter{
    line-height: 100%;
    position: absolute;
    bottom: 0;
    border-top: thin solid rgb(220, 220, 220);
    margin-left: 6%;
}
.maincontent{
    width: 60%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 21%;
    margin-top: 0%;
    overflow: scroll;
    z-index: 1;
    position: fixed;
}
.content{
    border-top: thin solid rgb(220, 220, 220);
    padding-top: 2%;
}
.socialmedia{
    width: 15%;
    height:50%;
    margin-left: 85%;
    margin-top: 10%;
    position: fixed;
    z-index: 3;
    position: fixed;
    text-transform: uppercase;
    display: inline-block;
}
.iconfadein{
	
}

/***********************************
Scrollbar
***********************************/
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px transparent;
	border-radius: 1px;
	background-color: crimson;
}

#style-2::-webkit-scrollbar
{
	width: 1px;
	background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 11x;
	-webkit-box-shadow: inset 0 0 1px transparent;
	background-color: crimson;
}
/***********************************
Images
***********************************/
.image{
    height: auto;
    width: 100%;
}
.contentimage {
    display: flex;
}
.bgimage{
    width: auto;
    height: 50%;
    z-index: -1;
    position: absolute;
    right:0;
    bottom: 0;
    -webkit-filter: blur(1px);
	filter: blur(1px);
}
.logosidebar{
    width: 80%;
    height: auto;
    margin-top: 10%;
    margin-left: 10%;
}
.menusocialicon{
    width: 33px;
    height: 33px;
}